/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  font: 18px helvetica, arial, sans-serif;
  line-height: 1.6rem;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*********** end of reset **********/

/*****webfonts******/
@font-face {
  font-family: "Cronus Round";
  src: url("../fonts/Cronus Round.otf") format("opentype");
}
@font-face {
  font-family: "Boogaloo-Regular";
  src: url("../fonts/Boogaloo-Regular.ttf") format("truetype");
}
/*********webfonts****/
body {
  color: #282727;
  background: url("../imgs/mtn-min.jpg") black;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  /* opacity: 0.75; */
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

article header{
  border-bottom: 2px solid #3ba5d6;
  padding: 8px;
}

h1 {
  font: 3rem Boogaloo-Regular, "Cronus Round",herculanum, helvetica, arial, sans-serif;
  font-weight: bold;
  /* background: rgba(127, 171, 240, 0.5); */
}

h2{
  font: 2.2rem helvetica, arial, sans-serif;
}

h6{
  font-size: .8rem;
}

.content-wrap header {
  background: rgba(231, 231, 231, 0.68);
  border-bottom: 2px solid #3ba5d6;
  padding: 10px;
	flex-direction: row;
}

.content-wrap i{
	float: right;
	font-size: 2.2rem;
	color: #5C6D77;
}

.content-wrap i:hover::before{
	color: black;
	cursor: pointer;
}

h3{
  font-size: 1.4rem;
}

p{
  margin-right: 1%;
}

blockquote {
  margin: 2% 4%;
  padding: 1%;
  border-top: 2px dashed #3ba5d6;
  border-bottom: 2px dashed #3ba5d6;
  background: rgba(33, 104, 169, 0.05);
  font-family: "Comic Sans MS", sans-serif;
  ;
}

.div-link {
  text-decoration: none;
}

em {
  color: #d57f0c;
  font-size: 1.2em;
}

.page-wrapper{
  background: rgba(249, 250, 250, 0.37);
  height: 100%;
  widows: 100%;
  overflow: auto;
}

.content{
  background-color: whitesmoke;
	padding: 10px;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
} 

.item {
  flex: 1 1 auto;
  margin: 1%;
}

.header {
  flex: 1 1 20%;
  text-align: center;
  /* border: 2px solid red; */
}

.header p {
  font: 1.5rem "Comic Sans MS", cursive;
  /* background: rgba(127, 171, 240, 0.5); */
}

aside h6{
	margin-left: .8rem;
}

aside.item{
	margin-left: 0;
}

.promo{
  display: none;
}

.mdn-banner {
  display: block;
  margin:	auto;
}

.nav {
  /* border: 2px solid blue; */
  font: 1.2rem Boogaloo-Regular, herculanum, helvetica, arial, sans-serif;;
  font-weight: bold;
  text-align: center;
}

.nav a:link, 
.nav a:visited, 
.nav a:focus{
  transition: font-size 400ms ease;
  text-decoration: none;
}

.nav a.selected {
  color: black;
  font-size: 1.8rem;
}


a:link, a:visited, a:focus{
  color: #282727;
  cursor: pointer;
}

ul{
  /* background: rgba(127, 171, 240, 0.5); */
}

li{
  display: inline;
  padding: 5px;
}

.me-container {
  margin-top: 0;
}

/* .me-container:hover{
} */

.me {
  border: 4px solid #282727;
  border-radius: 50%;
  float: right;
  transition: all 200ms ease-in;
  transform: scale(1);
}

.content-wrap{
  color: black;
  margin: 0 2% 2% 2%;
}

header+div.wrapper,
article{
  background: rgba(249, 250, 250, 0.75);
}

article:last-child {
  margin-bottom: 2%;
}

article p{
  padding: 10px;
}

footer{
  font-size: .5rem;  
}

footer a{
  margin: 0 5px;
}

li{
  display: inline;
  padding: 5px;
}

footer li{
  line-height: 25px;
  padding: 15px;
}

footer li i{
  color: #282727;
}

@media (hover: hover) {
  .me:hover{
    transition: all 200ms ease-in;
    transform: scale(1.5);
  }
  .nav a:hover{
    color: black;
  }
  footer li i:hover{
    color: black;
  }
}



@media only screen and (min-width: 980px){
  .wrapper {
    flex-direction: row;
  }

  .header {
    flex: 1 1 44%;
    text-align: left;
  }

  .nav{ 
    text-align: center;
  }

  .nav ul{
    margin: 2%;
  }

  .me-container {
    margin-top: 1%;
    flex: 1 1;
	}
	
.content-wrap i{
	display: none;
}

	.promo{
		display: block;
		background-color: whitesmoke;
		padding: 10px;
  }
  
  footer li i{
    color: #5C6D77;
  }
  footer li{
    color: #5C6D77;
  }
  
}


.burger-menu {
  display: none;
}

.burger-menu:checked ~ .menu {
	display: block;
	position: fixed;
	top: 326px;
	right: 28px;
	background-color: rgb(141, 194, 218);
	border: 2px solid #5C6D77;
	box-shadow: #5C6D77 2px 2px 2px;
}

.hamburger {
  display:block;
  
}

.menu {
   display:none;
}
