/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  font: 16px helvetica;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*********** end of reset **********/
body {
  color: #282727;
  background: url("../imgs/mtn.jpg") black;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  /* opacity: 0.75; */
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

h1 {
  font: 3em Herculanum;
  font-weight: bold;
  /* background: rgba(127, 171, 240, 0.5); */
}

h2{
  font: 2.2em Herculanum;
}
section h2 {
  background: rgba(231, 231, 231, 0.68);
  border-bottom: 2px solid #3ba5d6;
  padding: 10px;
}

h3{
  font-size: 1.4em;
  margin: 1% 0;
  border-bottom: 2px solid #3ba5d6;
  padding: 8px;
}

p{
  margin-right: 1%;
}

blockquote {
  margin: 0 4%;
  padding: 1%;
  border-top: 2px dashed #3ba5d6;
  border-bottom: 2px dashed #3ba5d6;
  background: rgba(33, 104, 169, 0.05);
  font-family: monospace;
}

.page-wrapper{
  background: rgba(249, 250, 250, 0.37);
  height: 100%;
  widows: 100%;
  overflow: auto;
}
/* body::after {
  content: "";
  background: url("../imgs/mtn.jpg") black;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  opacity: 0.75;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
} */

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item {
  flex: 1 1 auto;
  margin: 1%;
}

.header {
  flex: 1 1 20%;
  text-align: center;
  /* border: 2px solid red; */
}

.header p {
  font: 1.5em cursive;
  /* background: rgba(127, 171, 240, 0.5); */
}

.nav {
  /* border: 2px solid blue; */
  font: 1.2em Herculanum;
  font-weight: bold;
  text-align: center;
}

.nav a:link, 
.nav a:visited, 
.nav a:focus{
  transition: font-size 400ms ease;
  text-decoration: none;
}

.nav a.selected {
  color: black;
  font-size: 1.2em;
}


a:link, a:visited, a:focus{
  color: #282727;
  cursor: pointer;
}

ul{
  /* background: rgba(127, 171, 240, 0.5); */
}

li{
  display: inline;
  padding: 5px;
}

.me-container {
  margin-top: 0;
}

/* .me-container:hover{
} */

.me {
  border: 4px solid #282727;
  border-radius: 50%;
  float: right;
  transition: all 200ms ease-in;
  transform: scale(1);
}

section{
  color: black;
  margin: 0 2% 2% 2%;
}

article{
  background: rgba(249, 250, 250, 0.75);
}

article:last-child {
  margin-bottom: 2%;
}

article p{
  padding: 0 0 10px 10px;
}

footer{
  font-size: .5em;  
}

li{
  display: inline;
  padding: 5px;
}

footer li{
  line-height: 25px;
  padding: 15px;
  color: #5C6D77;
}

footer li i{
  color: #5C6D77;
}

footer li i:hover{
  color: black;
}

.mobile{
  display: inline;
}

.desktop{
  display: none;
}


@media (hover: hover) {
  .me:hover{
    transition: all 200ms ease-in;
    transform: scale(1.5);
  }
  .nav a:hover{
    color: black;
  }
}



@media only screen and (min-width: 980px){
  .wrapper {
    flex-direction: row;
  }

  .header {
    flex: 1 1 44%;
    text-align: left;
  }

  .nav{ 
    text-align: center;
  }

  .nav ul{
    margin: 2%;
  }

  .me-container {
    margin-top: 1%;
    flex: 1 1;
  }
}

@media only screen and (min-width: 768px){
  .mobile{
    display: none;
  }
    .desktop{
      display: inline;
      font-size: 1.5em;  
    }
}
