
.mdn-banner,
.me-container{
	display: none;	
}

@media only screen and (max-width: 736px){
  .header p{
    display: none;
  }
}

@media only screen and (min-width: 980px){
	.content-wrap .item{
		flex: 2.55;
	}

	.content-wrap aside.item{
		flex: 1;
	}

	article header.wrapper {
		flex-direction: column;
	}
	
	.me-container{
		display: block;	
	}
	.mdn-banner {
		display: block;
		margin:	auto;
	}
}
