.me-container{
	display: none;	
}

@media only screen and (max-width: 736px){
  .header p{
    display: none;
  }
}

@media only screen and (min-width: 980px){
	.me-container{
		display: block;	
	}
}

